/*
=============== 
Variables
===============
*/

:root {
  /* colors */
  --clr-primary-50: #f8efff;
  --clr-primary-100: #efdbfe;
  --clr-primary-200: #e5bffe;
  --clr-primary-300: #d393fd;
  --clr-primary-400: #bc60fa;
  --clr-primary-500: #ae3bf6;
  --clr-primary-600: #9525eb;
  --clr-primary-700: #8d1dd8;
  --clr-primary-800: #751eaf;
  --clr-primary-900: #681e8a;

  /* grey */
  --clr-grey-50: #f0f4f8;
  --clr-grey-100: #d9e2ec;
  --clr-grey-200: #bcccdc;
  --clr-grey-300: #9fb3c8;
  --clr-grey-400: #829ab1;
  --clr-grey-500: #627d98;
  --clr-grey-600: #486581;
  --clr-grey-700: #334e68;
  --clr-grey-800: #243b53;
  --clr-grey-900: #102a43;
  /* rest of the colors */
  --clr-black: #222;
  --clr-white: #fff;
  --clr-red-light: #f8d7da;
  --clr-red-dark: #842029;
  --clr-green-light: #d1e7dd;
  --clr-green-dark: #0f5132;

  /* fonts  */
  --headingFont: 'Roboto Condensed', Sans-Serif;
  --bodyFont: 'Cabin', Sans-Serif;
  --small-text: 0.875rem;
  --extra-small-text: 0.7em;
  /* rest of the vars */
  --backgroundColor: var(--clr-grey-50);
  --textColor: var(--clr-grey-900);
  --borderRadius: 0.25rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 500px;
  --fluid-width: 90vw;
  --breakpoint-lg: 992px;
  --nav-height: 6rem;
  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Montserrat', 'Helvetica Neue', sans-serif;
  background: var(--clr-primary-900);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}

p {
  margin-bottom: 1.5rem;
  max-width: 40em;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}

small,
.text-small {
  font-size: var(--small-text);
}

a {
  text-decoration: none;
  letter-spacing: var(--letterSpacing);
}

a,
button {
  line-height: 1.15;
}

button:disabled {
  cursor: not-allowed;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img {
  width: 100%;
  display: block;
  object-fit: cover;
}


/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--borderRadius);
  text-align: center;
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.alert-danger {
  color: var(--red-dark);
  background: var(--red-light);
}

.alert-success {
  color: var(--green-dark);
  background: var(--green-light);
}


@media screen and (min-width: 800px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }

  h4 {
    font-size: 1.5rem;
  }

  h5 {
    font-size: .85rem;
  }

  body {
    font-size: 1rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

@media screen and (max-width: 900px) {
  h5 {
    font-size: .55rem;
  }
}


@media screen and (max-width: 550px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: .425rem;
  }

  body {
    font-size: .75rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: .75;
  }
}

/*  global classes */

/* section */
.section {
  padding: 5rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: var(--max-width);
}

@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}

.text-center {
  text-align: center;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  margin: 0 auto;
  margin-top: 10rem;
  border-radius: 50%;
  border: 4px solid #ccc;
  border-top-color: var(--clr-primary-50);
  animation: spinner 0.6s linear infinite;
}

/* buttons */

.btn {
  cursor: pointer;
  color: var(--clr-white);
  background: var(--clr-primary-500);
  border: transparent;
  border-radius: var(--borderRadius);
  letter-spacing: var(--letterSpacing);
  padding: 0.375rem 0.75rem;
  box-shadow: var(--shadow-2);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover {
  background: var(--clr-primary-700);
  box-shadow: var(--clr-shadow-3);
}

.btn-hipster {
  color: var(--clr-primary-500);
  background: var(--clr-primary-200);
}

.btn-hipster:hover {
  color: var(--clr-primary-200);
  background: var(--clr-primary-700);
}

.btn-block {
  width: 100%;
}

.btn-hero {
  font-size: 1.25rem;
  padding: 0.5rem 1.25rem;
}

.btn-danger {
  background: var(--red-light);
  color: var(--red-dark);
}

.btn-danger:hover {
  background: var(--red-dark);
  color: var(--clr-white);
}

.title {
  text-align: center;
}

.title .underline {
  width: 6rem;
  height: 0.25rem;
  color: var(--clr-white);
  background: var(--clr-primary-5);
  margin-left: auto;
  margin-right: auto;
}

.page-100 {
  min-height: calc(100vh - 10rem);
  padding: 5rem 0;
}

.page {
  min-height: calc(100vh - (20vh + 10rem));
}

.full-page {
  min-height: 100vh;
}

/* form */

.form {
  width: 90vw;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--borderRadius);
  box-shadow: var(--shadow-2);
  padding: 2rem 2.5rem;
  margin: 3rem auto;
  transition: var(--transition);
}

.form:hover {
  box-shadow: var(--shadow-4);
}

.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.5rem;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--borderRadius);
  background: var(--backgroundColor);
  border: 1px solid var(--clr-grey-200);
}

.form-input,
.form-select,
.btn-block {
  height: 35px;
}

.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}

::placeholder {
  font-family: inherit;
  color: var(--clr-grey-400);
}

.form-alert {
  color: var(--red-dark);
  letter-spacing: var(--letterSpacing);
  text-transform: capitalize;
}

.container {
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}

.Toastify__toast {
  text-transform: capitalize;
}